.lettersContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 50px;

  .letterButton {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    font-size: large;
    box-shadow: inset;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
      opacity: 0.25;
      cursor: not-allowed;
    }
  }
}
