.container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;

  .cardTitle {
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
  }

  .gameInstructionTitle {
    padding-bottom: 20px;
    text-align: center;
  }
  .gameInstruction {
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
  }
  .gotItButton {
    display: block;
    margin: 0 auto;
  }
}
