.cardTitle {
    font-weight: bold;
    padding-bottom: 5vh;
    padding-top: 5vh;
    text-align: center;
  }

  .letterButton{
    height: 3vh;
    width: 2vw;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    font-size: large;
    box-shadow: inset;
    font-weight: bold;
    cursor: pointer;
  }