.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 20px;

  .cardTitle {
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
  }
  .subtitle {
    padding-top: 15px;
  }

  .newGameButton {
    display: block;
    margin: 0 auto;
  }
}
